{% extends 'base.html' %}

{% block title %}Simple python app example{% endblock %}

{% block content %}
<div class="fluid-wrap">
	<div class="fluid-row">
		<div class="col-12">
			<h1 class="article-heading">Most Popular on the Guardian</h1>

			<blockquote>Surfacing what other people think, so you can think it to.</blockquote>
		</div>
	</div>

	<div class="fluid-row margin-top">
		<div class="col-6">
			<h2 class="sub-heading">Endpoints</h2>
			<ul>
				<li><a href="/api/most-viewed">Most popular</a></li>
				<li><a href="/api/most-viewed/football">Most popular in football</a></li>
			</ul>
		</div>
		<div class="col-6">
			<h2 class="sub-heading">Most popular data</h2>

			<p>This is the most popular content according to Ophan.</p>

		</div>
	</div>
</div>

{% endblock %}
